.medication {

  & .add-medication-icon {
    font-size: 26px;
    font-weight: 700;
    color: $color-blue-dark;
  }

  & .add-button {
    top: 25px;
  }
}
.brandname {
  text-transform: uppercase;
}
.search-medication-result {
  display: grid;
  grid-template-columns: 100%;
}

