.patient-dashboard {
  & .patient-dashboard-main {
    height: calc(100% - 120px);
  }
 & .patient-detail-matrix {
   flex-basis: 0;
   flex-grow: 1;
   max-width: 100%;
 }
  & .patient-detail-matrix {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  & .footer-buttons {
    position: fixed;
    bottom: 0;
    padding: 10px 10px;
    background-color: white;
  }

  & .patient__name {
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 8px;
    line-height: 18px;
    font-size: 18px;
  }
  & .medications {
    display: inline-grid;
    grid-template-columns: 2% 40% 40% 18%;
  }
  & .advice-followup {
    display: grid;
    grid-template-columns: 10% 5%
  }
  & .patient-dashboard-header-profile {
    display: grid;
    grid-template-columns: 85% 15%;
  }
  & .patient-dashboard-header-right {
    display: grid;
    grid-template-columns: 30% 70%;
  }
  & .freqCodes {
    color: $color-dark-gray;
  }
  & .advice-followup-print {
    display: none;
  }
  & .section-medications div:last-child {
    border-bottom: none;
  }
  & .section-header {
    color: $color-blue-dark;
    text-transform: uppercase;
  }
}

@media print {
  .patient-dashboard {
    & .patient__name {
      font-size: 28px!important;
      margin-bottom: 10px;
      padding-left: 10px;
    }
    & .profile__work {
      padding-left: 10px!important;
    }
    & .profile__card {
      margin-top: 180px;
    }
    & .patient-detail-matrix {
      display: flex;
      & .patient-detail-matrix-label {
        margin-right: 5px;
      }
    }
    & .dashboard-navs,
      .footer-buttons,
      .patient-dashboard-header,
      .patient-detail-matrix-phone,
      .patient-detail-matrix-address,
      .patient-detail-matrix-refby,
      .patient-headset,
      .patient-address,
      .patient-dashboard-vitals,
      .patient-dashboard-header-right-refby,
      .medication-label
    {
      display: none!important;
    }
    & .patient-detail-more{
      padding-top: 20px!important;
    }
    & .medications {
      display: inline-grid;
      grid-template-columns: 3% 30% 55% 12%;
    }
    & .profile__card {
      border-bottom: 1px solid #666;
    }
    & .advice-followup {
      display: grid;
      grid-template-columns: 40% auto;
      padding-left: 0!important;
      font-weight: bolder;
    }
    & .patient-dashboard-header-profile {
      display: grid;
      grid-template-columns: 70% 30%;
    }
    & .patient-dashboard-header-right {
    }
    & .profile__data{
      padding-left: 30px;
    }
    & .patient-dashboard-header-right p {
      line-height: 1.2;
    }
    & .ant-spin-container li:nth-child(1) {
      padding-top: 0;
    }
    & .patient__name {
      font-size: 18px!important;
    }
    & .tab-pane {
      padding-left: 25px!important;
    }
    & .rx-symbol { font-size: 22px!important; }
    & .comment-symbol { font-size: 22px!important; }
    & .patient-dashboard-header-left-id {
      margin-left: 10px;
    }
    & .advice-followup {
      display: none;
    }
    & .advice-followup-print {
      display: inline;
      font-weight: bolder;
    }
  }
}