.patient-dashboard {
 & .patient-detail-matrix {
   flex-basis: 0;
   flex-grow: 1;
   max-width: 100%;
 }
  & .patient-detail-matrix {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  & .footer-buttons {
    position: fixed;
    bottom: 10px;
  }

  & .patient__name {
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    line-height: 18px;
    font-size: 18px;
  }
  & .medications {
    display: inline-grid;
    grid-template-columns: 3% 40% 40% 17%;
  }
  & .advice-followup {
    display: grid;
    grid-template-columns: 8% 5% 5% 85%
  }
}

@media print {
  * {
    font-size: 28px;
  }
  .patient-dashboard {
    & .patient__name {
      font-size: 28px!important;
      margin-bottom: 10px;
      padding-left: 10px;
    }
    & .profile__work {
      padding-left: 10px!important;
    }
    & .profile__card {
      margin-top: 300px;
    }
    & .patient-detail-matrix {
      display: flex;
      & .patient-detail-matrix-label {
        margin-right: 5px;
      }
    }
    & .dashboard-navs{
      display: none!important;
    }
    & .patient-dashboard-header {
      display: none!important;
    }
    & .footer-buttons {
      display: none!important;
    }
    & .patient-detail-more{
      padding-top: 20px!important;
    }
    & .medications {
      display: inline-grid;
      grid-template-columns: 5% 40% 40% 15%;
    }
    & .profile__card {
      border-bottom: 1px solid #666;
    }
    & .advice-followup {
      display: grid;
      grid-template-columns: 25% 10% 10%!important;
    }
  }
}